# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Vendor directory (optional: only include if you want to freeze dependencies)
# vendor/

# IDE specific files
.vscode/
.idea/
